@charset 'UTF-8';

$alpha: rgba(0,0,0,0);

$green: #7AC943;
$red: #FF1D25;
$grey: #CACACA;
$black: #000000;

//accent color
$orange: #F78A09;

$main-background: #333333;
$popup-background: #444444;

$border-color: #4F4F4F;

$icon-color: #CACACA;

$white-font-color: #F8F8F8;
$grey-font-color: #AFAFAF;

$global-placeholder-color: #b3b3b3;