
// Texts

$global-label-paragraph-font-size: .73rem;

// Lists

$global-li-font-size: .7rem;

// Buttons

$global-button-font-size: 12px;

// Inputs

$global-input-font-size: .8rem;

$global-textarea-font-size: .8rem;

$global-checkbox-font-size: 1rem;

$global-radio-font-size: 1rem;

// Selects

$global-select-font-size: .8rem;

$global-option-font-size: .8rem;

// Icons

$global-icon-font-size: .95rem;